

.header{
    position: relative;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    background-image: url('../images/alesund.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.header::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.header_sm{
    height: 250px;
}

.header__title{
    position: relative;
    width: 100%;
    top: 50%;
    transform:translateY(-50%);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0 15px;
}